<section>
  <h1>Projects</h1>
  <ul>
	<li>
		{% img right /images/greenfoot-kara.png GameGridKara %}
		<a href="{{ root_url }}/projects/greenfoot-kara-en">GreenfootKara English</a>
		<p><a href="{{ root_url }}/projects/greenfoot-kara-de">GreenfootKara German</a></p>
	</li>
	<li>
		{% img right /images/gamegrid-kara.png GameGridKara %}
		<a href="{{ root_url }}/projects/gamegrid-kara-en">GameGridKara English</a>
		<p><a href="{{ root_url }}/projects/gamegrid-kara-de">GameGridKara German</a></p>
	</li>
  </ul>
</section>
