<section>
  <h1>Projects</h1>
  <ul>
    <li>
      <a href="{{ root_url }}/projects/learn-dart">Learn Dart</a> - DartKara, etc.
    </li>    
    <li>
      <a href="{{ root_url }}/projects/learn-java">Learn Java</a> - Greenfoot, GameGrid, etc.
    </li>    
    <li>
      <a href="{{ root_url }}/projects/learn-javafx">Learn JavaFX</a>
    </li>    
    <li>
      <a href="{{ root_url }}/projects/dart-html5-drag-and-drop">Dart HTML5 Drag and Drop</a>
    </li>
    <li>
      <a href="{{ root_url }}/projects/dart-event-bus">Dart Event Bus</a>
    </li>
  </ul>
</section>
