<section>
  <h1>Teaching Resources</h1>
  <ul>
	<li>
		{% img right nobox /images/kara/greenfootkara-logo.png GreenfootKara %}
		<a href="http://www.swisseduc.ch/informatik/karatojava/greenfootkara/greenfootkara-english.html">GreenfootKara English</a>
		<p><a href="http://www.swisseduc.ch/informatik/karatojava/greenfootkara/index.html">GreenfootKara German</a></p>
	</li>
	<li>
		{% img right nobox /images/kara/gamegridkara-logo.png GameGridKara %}
		<a href="http://www.swisseduc.ch/informatik/karatojava/gamegridkara/gamegridkara-english.html">GameGridKara English</a>
		<p><a href="http://www.swisseduc.ch/informatik/karatojava/gamegridkara/index.html">GameGridKara German</a></p>
	</li>
  </ul>
  <a href="{{ root_url }}/teaching">More Resources &rarr;</a>
</section>
