<!-- Fonts from Google"s Web font directory at http://google.com/webfonts -->
  <link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
{% comment %}<!-- Add custom javascript and css from the page if available -->{% endcomment %}
{% capture pagefolder %}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' }}{% endif %}{% endcapture %}
{% if page.javascript %}{% for js in page.javascript %}  <script src="{{ pagefolder }}{{ js }}"></script>
{% endfor %}{% endif %}
{% if page.css %}{% for css in page.css %}  <link href="{{ pagefolder }}{{ css }}" rel="stylesheet" type="text/css">
{% endfor %}{% endif %}