// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// Reset the img box if class nobox is added to an image tag
article img.nobox, aside.sidebar img.nobox {
  @include border-radius(none);
  @include box-shadow(none);
  border: 0;
  margin-bottom: 0;
}

// Apply clearfix so floated images don't overflow
aside.sidebar li {
  @extend .group;
}

// Vertical center image 
article img.middle, aside.sidebar img.middle {
  vertical-align: middle;
  margin-right: .2em;
}

.intro-box {
  padding-top: 0.7em;
  padding-bottom: 0.5em;
	background-color: $intro-box-bg;
  border-bottom: 1px solid $intro-box-border;
}

@media only screen and (min-width: 992px) {
  .intro-box {
   // margin-top: 2em;
  }
}

@import "lang/*.png";
@include all-lang-sprites;

.blog-icons {
  float: right;
  margin: 0.5em 0.7em 0 0;
  
  li {
    float:left;
    list-style-image: none;
    list-style-type: none;
  }
  li + li {
    margin-left: 0.5em;
  }
  a {
    display: block;
    width: 32px;
    height: 32px;
  }
}

